.navigateBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  height: 60px;
  position: relative;
  width: 100%;
  z-index: 100;
}

.navigateBar ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 20px;
}

.navigateBar button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
